<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controle Sequencial</title>
    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_sequencial.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_modal.css') }}">
</head>

<body data-num-atuadores="{{ num_atuadores }}">

    <img class="image-gradient" src="{{ url_for('static', filename='img/gradient.png')}}" alt="gradient">
    <div class="layer-blur"></div>

    <div class="container">
        <header>
            <h1 class="logo">Smart Lab</h1>
            <nav>
                <a href="{{ url_for('welcome')}}">Home</a>
                <a href="#" id="btn-open-dashboard">Dashboard</a>
                <a href="{{url_for('config_page')}}">Voltar</a>

                <button class="btn btn-parar" id="btn-global-reset" style="margin-left: auto;">RESET</button>
            </nav>
        </header>
        <main>
            <div class="tittle">
                <h1>CONTROLE SEQUENCIAL</h1>
                <p>Defina uma sequência de passos para a automação dos atuadores.</p>
            </div>

            <div class="card-sequenciador" id="sequencer-card">
                <h2>Definir Sequência</h2>
                <div class="form-group">
                    <label for="sequenciaInput">Sintaxe: 1+ (Avançar), 1- (Recuar), Tn (Tempo em seg), [...] * n (Repetir).</label>
                    <input type="text" id="sequenciaInput" class="form-control" placeholder="Ex: 1+ T2 [2+ 2-]*3 1-">
                </div>
                <div class="botoes-sequencial"> 
                    <button class="btn btn-parar" id="btn-parar-seq">PARAR</button>
                    <button class="btn btn-iniciar" id="btn-iniciar-seq">INICIAR</button>
                </div>
            </div>

            <div id="visualizacao-grid"></div>

        </main>
    </div>

    <div id="dashboard-modal" class="modal-overlay">
        <div class="modal-content">
            <span id="btn-close-modal" class="close-modal-btn">&times;</span>
            
            <h2 style="border-bottom: 1px solid #38383a; padding-bottom: 0.5rem; margin-bottom: 1.5rem;">Status da Conexão</h2>
            
            <div class="modal-grid-connections">
                
                <div class="conn-card">
                    <h4>Servidor</h4>
                    <div id="conn-server-status" class="conn-value txt-cinza">Conectando...</div>
                    <div class="conn-detail">Via Socket.IO</div>
                </div>

                <div class="conn-card">
                    <h4>Broker MQTT</h4>
                    <div id="conn-mqtt-status" class="conn-value txt-cinza">Aguardando dados...</div>
                    <div class="conn-detail">Fluxo de mensagens</div>
                </div>

                <div class="conn-card">
                    <h4>Wi-Fi do ESP</h4>
                    <div id="conn-wifi-status" class="conn-value txt-cinza">--</div>
                    <div id="conn-wifi-rssi" class="conn-detail">Sinal: -- dBm</div>
                </div>

            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts_modal.js') }}"></script>

    <script src="{{ url_for('static', filename='scripts_sequencial.js') }}"></script>
</body>
</html>